
.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: rgb(12, 11, 11);
    z-index: 1000;
}

.logo img {
    height: 50px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 10px;
    }
}
