/* Styles for the navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff; 
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .nav-links, .nav-links-mobile {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-links-mobile {
    display: none;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
  
  .nav-links a, .nav-links-mobile a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 8px;
  }
  
  .nav-links a:hover,
  .nav-links-mobile a:hover {
    background-color: #d9dbd0;
    transform: scale(1.05);
}

  .mobile-menu-icon {
    display: none;
    background: none;
    border: none;
    color: #6B8B1E;
    font-size: 24px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
    .nav-links-mobile {
      display: flex;
    }
    .mobile-menu-icon {
      display: block;
    }
  }
  
  .logo img {
    height: 40px;
  }
  