.cart-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #add867;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    border: none;
}

.cart-button img {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.cart-button:hover {
    background-color: #74a524;
    transform: scale(1.1);
}

.cart-item-count {
    position: absolute;
    top: -12px;
    right: 35px;
    background-color: #fff; /* Changed from rgb(255, 255, 255) for simplicity */
    color: #000;
    font-size: 12px;
    padding: 4px;
    border: none; 
    border-radius: 50%;
}
